@import url('file:///home/lyneca/.cache/wal/colors.css');
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#navigator-toolbox[fullscreenShouldAnimate] {
    transition: none !important;
}

/* Adjust Colors */
.tab-background:not([selected=true]),
.tab-background[selected="true"],
#titlebar-buttonbox,
#TabsToolbar,
#PersonalToolbar,
#urlbar,
#nav-bar {
    background: var(--background) !important;
    color: var(--color4) !important;
}
#PanelUI-menu-button {
    margin-right: 6px !important;
    padding-left: 2px !important;
}
#PanelUI-button {
    cursor: pointer !important;
    margin-left: 0 !important;
    border-left-width: 0 !important;
}
#back-button {
    margin-left: 6px !important;
}
.toolbarbutton-icon {
    background-color: inherit !important;
    border: none !important;
}

.toolbarbutton-1 {
    fill: var(--color4) !important;
}

/* No Black Line */
#navigator-toolbox{
    margin-top: -1px !important;
}

/* Height */
#nav-bar {
    min-height: 40px !important;
    z-index: 3
}
#urlbar {
    margin-left: 85px ;
    border: none !important;
    box-shadow: none !important;
    min-height: 30px !important;
}

/* Adjust Pinned Tab Width */
.tabbrowser-tab[pinned="true"] {
    min-width: 40px;
}

.tab-text[selected] {
    color: var(--color4);
}

label[pinned="true"] {
    display: none !important;
}
.tab-icon-image {
    display: none;
}
.tab-icon-image[pinned="true"] {
    margin-left: 4px
}

.tabs-newtab-button {
    display: none !important;
}

/* Clean Up */
.urlbar-icon,
.tab-close-button.tab-close-button,
#page-action-buttons,
#identity-box {
    display: none;
}
#urlbar .urlbar-input-box {
    text-align: left;
}
.urlbar-input-box > .urlbar-input::placeholder {
    opacity: 0 !important;
}

/* Autohide Tabs */
#TabsToolbar {
    min-height: 40px !important;
    margin-top: -40px !important;
    transition: all 0.3s ease 0s !important;
    -moz-box-ordinal-group: 2 !important;
}
#navigator-toolbox {
    transition: all 0.3s ease 0s !important;
}
#navigator-toolbox:hover {
margin-bottom: -39px !important;
transition: all 0.3s ease 0s !important;
}
#navigator-toolbox:hover > #TabsToolbar {
margin-top: -1px !important;
transition: all 0.3s ease 0s !important;
}

/* Remove Tab Borders */
.tabbrowser-tab::after, .tabbrowser-tab::before {
    border-left: none !important;
}
:root {
    --tabs-border: transparent !important;
}

/* Tab Line At Bottom */
.tab-line {
    -moz-box-ordinal-group: 2;
    min-height: 3px;
    background-color: var(--color4) !important;
}

/* Tabs don't move when dragging. */
#TabsToolbar[movingtab] {
    padding-bottom: -0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
    padding-bottom: -0px !important;
    margin-bottom: -0px !important;
}
#TabsToolbar[movingtab] + #nav-bar {
    margin-top: -0px !important;
    pointer-events: none;
}

.tabbrowser-tab[fadein]:not([pinned]) {
  max-width: none !important;
}

/* Client Side Decorations */
#titlebar-buttonbox {
    height: 40px !important;
}
#nav-bar {
    margin-right: ;
    box-shadow: none !important;
}
#titlebar-buttonbox {
    z-index: 3 !important;
}
.titlebar-placeholder {
    display:none !important;
}

