[submodule ".oh-my-zsh/themes/geometry"]
	path = .oh-my-zsh/themes/geometry
	url = https://github.com/lyneca/geometry
[submodule ".vim/bundle/wal.vim"]
	path = .vim/bundle/wal.vim
	url = https://github.com/lyneca/wal.vim
[submodule "https:/github.com/lyneca/zsh-syntax-highlighting"]
	path = https:/github.com/lyneca/zsh-syntax-highlighting
	url = /home/lyneca/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/lyneca/zsh-syntax-highlighting
