gtk-color-scheme = "background: #0E1211"
gtk-color-scheme = "foreground: #D3BCA4"

gtk-color-scheme = "color0: #0E1211"
gtk-color-scheme = "color1: #885F3C"
gtk-color-scheme = "color2: #8B7666"
gtk-color-scheme = "color3: #9B8975"
gtk-color-scheme = "color4: #CFA26F"
gtk-color-scheme = "color5: #6E7F89"
gtk-color-scheme = "color6: #A39890"
gtk-color-scheme = "color7: #D3BCA4"
gtk-color-scheme = "color8: #6e7070"
gtk-color-scheme = "color9: #885F3C"
gtk-color-scheme = "color10: #8B7666"
gtk-color-scheme = "color11: #9B8975"
gtk-color-scheme = "color12: #CFA26F"
gtk-color-scheme = "color13: #6E7F89"
gtk-color-scheme = "color14: #A39890"
gtk-color-scheme = "color15: #D3BCA4"
