gtk-color-scheme = "background: #0A0706"
gtk-color-scheme = "foreground: #FFFFFF"

gtk-color-scheme = "color0: #0A0706"
gtk-color-scheme = "color1: #74748A"
gtk-color-scheme = "color2: #A3A0A0"
gtk-color-scheme = "color3: #E3DAA7"
gtk-color-scheme = "color4: #B7B5C3"
gtk-color-scheme = "color5: #DDDDD7"
gtk-color-scheme = "color6: #EDEFEC"
gtk-color-scheme = "color7: #FFFFFF"
gtk-color-scheme = "color8: #6c6a69"
gtk-color-scheme = "color9: #74748A"
gtk-color-scheme = "color10: #A3A0A0"
gtk-color-scheme = "color11: #E3DAA7"
gtk-color-scheme = "color12: #B7B5C3"
gtk-color-scheme = "color13: #DDDDD7"
gtk-color-scheme = "color14: #EDEFEC"
gtk-color-scheme = "color15: #FFFFFF"
